/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0;
  font-size: 150%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
